$color-grey-light: #dfdddd;
$color-grey-medium: #d2cfcf;
$color-grey-dark: #545454;

$color-error: #b32f2d;

$font-size-medium: 1rem;
$font-size-error: 2rem;
$font-size-title: 1.2rem;
$font-size-author: 1rem;

$font-weight-medium: 500;
$font-weight-error: 700;
$font-weight-title: 700
