@import '../../sass/variables.scss';

.photosNotFetched{
    background-color: $color-error;
    color: $color-grey-light;
    font-weight: $font-weight-thick;
    font-size: $font-size-large;
    border: transparent;
    border-radius: .4rem;
    padding: .5rem;

}