@import "../../sass/variables.scss";

.photosNotFetched {
  background-color: $color-error;
  color: $color-grey-light;
  font-weight: $font-weight-error;
  font-size: $font-size-error;
  border: transparent;
  border-radius: 0.4rem;
  padding: 0.5rem;
}
