@import "../../sass//variables.scss";

.photoItem {
  z-index: 0;
  position: relative;
  margin: 0.3rem;
  margin-bottom: 1rem;

  &__hover {
    visibility: hidden;
    position: absolute;
    transition: all 0.2s;

    & > button {
      background-color: transparent;
      color: $color-grey-light;
      border: 1px solid $color-grey-light;
      border-radius: 1.5rem;
      height: 20%;
      width: 50%;
      font-size: $font-size-medium;
      font-weight: $font-weight-medium;
      transition: all 0.2s;
    }

    & > button:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    & > button:active {
      transform: scale(0.9);
    }

    &__title {
      color: $color-grey-light;
      margin-top: 25%;
      font-weight: $font-weight-title;
      font-size: $font-size-title;
      margin-bottom: 3px;
    }

    &__underline {
      width: 40%;
      margin: 0% 0% 0% 30%;
      height: 1.5px;
      background: $color-grey-light;
    }

    &__author {
      color: $color-grey-light;
      font-size: $font-size-author;
      font-style: italic;
      margin-top: 0px;
    }
  }

  &:hover &__hover {
    visibility: visible;
    font-size: 400;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(115, 114, 114, 0.6);
    border: transparent;
    border-radius: 0.6rem;
    cursor: pointer;
    margin-bottom: 1%;
  }

  &__imgDiv {
    max-width: 15rem;
    max-height: 12rem;
    overflow: hidden;
    border: transparent;
    border-radius: 0.8rem;

    & > img {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 420px) {
  .photoItem__imgDiv {
    max-width: 7rem;
    max-height: 5.6rem;
  }
}
